<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="output" default="screen"/>

  <arg name="skip_count" default="0"/>
  <arg name="pano_fov_deg" default="90"/>
  <arg name="model_path" default="$(find rangenet_inf)/model/pano_devel"/>
  <arg name="gpu" default="True"/>

  <arg name="scan_image_topic" default="/os_node/rofl_odom/pano/img"/>
  <arg name="scan_camera_info_topic" default="/os_node/rofl_odom/pano/camera_info"/>
  <arg name="sem_point_cloud_topic" default="/os_node/segmented_point_cloud"/>
  <arg name="sem_image_topic" default="/os_node/segmented_image"/>

  <node name="rangenet_node" pkg="rangenet_inf" type="infer_node.py" output="$(arg output)">
    <param name="~skip_count" value="$(arg skip_count)"/>
    <param name="~pano_fov_deg" value="$(arg pano_fov_deg)"/>
    <param name="~model_path" value="$(arg model_path)"/>
    <param name="~gpu" value="$(arg gpu)"/>

    <remap from="~scan_image" to="$(arg scan_image_topic)"/>
    <remap from="~scan_camera_info" to="$(arg scan_camera_info_topic)"/>
    <remap from="~sem_point_cloud" to="$(arg sem_point_cloud_topic)"/>
    <remap from="~sem_image" to="$(arg sem_image_topic)"/>
  </node>
</launch>
